.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  padding: 30px;
  min-width: 160px;
  max-width: 480px;
  margin: 0px auto 30px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.title {
  margin: 0px 0px 30px 0px;
}
